.global_wrapper{
    margin: 0 auto;
    //max-width : 960px;
    //padding: 0px 1.0875rem 1.45rem;
    padding-top : 0;
}
.header_wrapper{
  //margin-bottom: 1.45rem;
  background-color: #61dafb;
  background-color: transparent;
  position: fixed;
  .header_inner{
    margin: 0 auto;
    //max-width: 90%;
    padding: 1.45rem 1.0875rem;
  }
}
.bm-burger-bars{
      background: #61dafb !important;
}
.iframe_wrap{
  padding:56.25% 0 0 0;position:relative;
}
.iframe{
  position:absolute;top:0;left:0;width:100%;height:100%;border: none;
}
