.banner{
  height: 56vw;
  width: 100%;
  position: relative;

  .img_wrap{
    text-align: center;
.logo_img{
padding-top:4.5rem;
@media (max-width: 575.98px) { padding-top:1.6rem; }
}
}
.background{
      min-height: 56vw;
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: -1;
font-size: 1em;
margin: 0;
padding: 0;
vertical-align: baseline;
  background-image: url('../img/konrads_montage.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: bottom center;
}
}
.shows{
  padding: 3rem 0;

  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h3{text-transform: uppercase;}
}
.songs{
  padding: 3rem 0;
  background-color: #f1f1f1;
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h3{text-transform: uppercase;}
  th{text-align: center;}
}
.m_videos{
  padding: 3rem 0;
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  .vid{padding-top: 1rem;}
}
