.banner{
  height: 56vw;
  width: 100%;
  position: relative;

  .img_wrap{
    text-align: center;
.logo_img{
padding-top:4.5rem;
@media (max-width: 575.98px) { padding-top:1.6rem; }
}
}
.background{
      min-height: 56vw;
  width: 100%;
  position: absolute;
  background: transparent;
  z-index: -1;
font-size: 1em;
margin: 0;
padding: 0;
vertical-align: baseline;
  background-image: url('../img/konrads_montage.jpg');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-attachment: scroll;
  background-position: bottom center;
}
}
.shows{
  padding: 3rem 0;

  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h3{text-transform: uppercase;}
}
.songs{
  padding: 3rem 0;
  background-color: #f1f1f1;
  position: relative;
  overflow: hidden;
  -ms-transition: height .5s ease-in-out;
  -webkit-transition:  height .5s ease-in-out;
  -moz-transition:  height .5s ease-in-out;
  -o-transition:  height .5s ease-in-out;
  transition:  height .5s ease-in-out;

  .container{
    position: relative;
    height: calc(100vh - 50vh);
    -ms-transition: height .5s ease-in-out;
    -webkit-transition:  height .5s ease-in-out;
    -moz-transition:  height .5s ease-in-out;
    -o-transition:  height .5s ease-in-out;
    transition:  height .5s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .show_more_songs{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 600;
    background-color: #89dcf2;
    cursor: pointer;
    z-index: 1;
  }
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  h3{text-transform: uppercase;}
  th{text-align: center;}
}
.m_videos{
  padding: 3rem 0;
  h1{
    text-align: center;
    text-transform: uppercase;
  }
  .vid{padding-top: 1rem;}
}
.contact_form{
  padding: 3rem 0;
  position: relative;
  h1{
    text-align: center;
    text-transform: uppercase;
  }
}
